
# harbor
secret
charts/*

# argoci
config

create-password-file.sh
go-password
pull-config*
push-config*
01nextjs.env
01redis.env
*dockerconfig.json
21kaniko-secret
02create-secret.sh

01env

gocd-server-ssh
gocd-server-ssh.pub
gocd-agent-ssh

id_rsa
id_rsa.pub

config.json
harbor-config

git-secret
21harbor-config

repository.yaml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
backup

node_modules
coverage
dist
.env

# OS metadata
.DS_Store
Thumbs.db

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnpm-store
/test-results/
/playwright-report/
/playwright/.cache/
.auth

# pwa
sw.js
sw.js*
workbox*
