.background {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100svh - 60px);
  max-height: 600px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  .textWithButtonBox {
    display: flex;
    flex-direction: row;
  }
  .chatBox {
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;

    .myChat {
      width: 100%;
      text-align: right;
      text-align-last: right;
      font-size: 12px;
      padding: 4px 10px;
      margin-top: 10px;
      margin-left: auto;
      margin: 5px 8px 5px auto;
      width: fit-content;
      background-color: #f6e1dc;
      border-radius: 10px;
    }
    .noticeChat {
      .hr {
        margin: 0;
      }
      color: #a9a9a9;
      margin: 0;
      width: 100%;
      text-align: center;
      border-color: #a9a9a9;
    }
    .otherChat {
      width: 100%;
      text-align: left;
      text-align-last: left;
      font-size: 12px;
      padding: 4px 10px;
      margin: 5px auto 5px 8px;

      width: fit-content;
      background-color: #c2daf6;
      border-radius: 10px;
    }
  }
}
