.background {
  .postHead {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    margin: 30px auto;
    width: 100%;
    max-width: 800px;
    min-width: 240px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  padding: 0 16px 0 16px;
  .contentBox {
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 240px;
  }
}
